!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    title
      if title
        | #{title} -
      |  pjax

    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.3.1/jquery.cookie.min.js")
    script(src="script.js")

    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery.pjax/1.2.0/jquery.pjax.min.js")
    script(type="text/javascript")
      $(function(){
        // enable pjax
        $(document).pjax('ul a', '#main');
      })

    style
      pre{
        float:left;
      }
      #main{
        font-family:Helvetica,Arial,sans-serif;
        float:left;
        margin-left:-120px;
        padding-top:80px;
        width:30%;
      }
      ul{padding-left:15px;}

body
  <pre>
  |
  |                ／￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣
  |                | <b> It's #{ new Date() } </b>
  |                ＼＿　 ＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿
  |         .--.     (  )
  |        /    \\   ( )
  |       ## a  a  .
  |       (   '._)
  |        |'-- |
  |      _.\\___/_   ___<label><input type="checkbox" name="pjax" />pjax</label>___
  |    ."\\> \\Y/|<'.  '._.-'
  |   /  \\ \\_\\/ /  '-' /
  |   | --'\\_/|/ |   _/
  |   |___.-' |  |`'`
  |     |     |  |
  |     |    / './
  |    /__./` | |
  |       \\   | |
  |        \\  | |
  |        ;  | |
  |        /  | |
  |  jgs  |___\\_.\\_
  |       `-"--'---'
  a(href="https://github.com/defunkt/jquery-pjax") github.com/defunkt/jquery-pjax
  </pre>

div#main
  block main
